
*,
*::after,
*::before{
    box-sizing: border-box;
}




body{
     font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page{
    background: linear-gradient(90deg, #09090a 0%, #181719 37.5%, #36343b 100%, #39363d 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page-container{
    display: flex;
    justify-content: space-between;
}

.container-item{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 164px;
}

.container-item-box{
    margin-bottom: 50px;;
}


.container-item-title{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 500;
font-size: 50px;
height: 90px;

line-height: 116px;
color: #fff;
margin-bottom: 0;
}

.container-item-subtitle{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 400;
font-size: 25px;
margin-top: 0;
line-height: 67px;
height: 50px;
color: #8d8d99;
}

.btn{
    border-radius: 999px;
padding: 10px 48px;
width: 305px;
height: 82px;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 32px 19px 0 rgba(0, 0, 0, 0.08), 0 57px 23px 0 rgba(0, 0, 0, 0.02), 0 89px 25px 0 rgba(0, 0, 0, 0);
background: #202024;
position: relative;
margin-top: 100px;
cursor: pointer;
transition: transform ease 0.5s;

}

.btn:hover{
    transform: translateY(-10px);
}

.btn-link{
    text-decoration: none;
}

.button-title{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 600;
font-size: 40px;


margin-top: 0;
margin-left: 25%;

/* line-height: 56px; */
line-height: 140%;
color: #e1e1e6;
}

.svg-img{
    position: absolute;
    top: 0;
    left: 5%;

}

.img-for-svg{
    position: absolute;
    top: 12%;
    left: 7%;
}

.svg-img-item1{
    position: absolute;
    top: 22%;
    left: 13%;
    z-index: 3;
}

.svg-img-item2{
   position: absolute;
   top: 38%;
   left: 10%;;
   z-index: 1;
}

.svg-img-item3{
   position: absolute;
   top: 38%;
   left: 16%;
   z-index: 1;
}


.container-item1{
    position: relative;

}

.container-item1-img1{
   position: absolute;
   top: 10%;
   right: 0;

width: 774px;
height: 900px;
}


.container-item1-img{
width: 774px;
height: 800px;

}

/*About Me*/

.body-about{
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Martian Mono", sans-serif;
    font-family:  "Plus Jakarta Sans", sans-serif;
}

.page-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-about{
margin: auto;
    margin-top: 80px;
}

.main-about-container{
    margin: auto;
    text-align: left;
}


.btn-about{
    border: 1px solid #c4c4cc;
border-radius: 5px;
padding: 12px 16px;
width: 273px;
height: 45px;
    background: #e1e1e6;
    font-family: "Martian Mono", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 21px; */
line-height: 105%;
background: linear-gradient(90deg, #8234e9 0%, #b585fb 99.48%);
background-clip: text;

}

.main-about-title{
    width: 440px;
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 600;
font-size: 28px;

/* line-height: 58px; */
line-height: 120%;
color: #320863;
}
.main-about-text{
    display: inline-block;
    width: 800px;
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 400;
font-size: 20px;

/* line-height: 32px; */
line-height: 160%;
color: #29292e;
}


.main-about-subtitle{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 600;
font-size: 32px;

/* line-height: 40px; */
line-height: 125%;
color: #320863;
}

.main-about-footer{
margin-top: 80px;
}

.about-footer-title{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 700;
font-size: 20px;

/* line-height: 32px; */
line-height: 160%;
color: #9956f6;
}

.about-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.aside-about{
    margin: auto;
    padding: 0;
    background: #8234e9;
}

.aside-about-container{
    margin: auto;
    text-align: left;
    padding: 50px;
width: 682px;
height: 1080px;
}


.aside-about-title{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 600;
font-size: 28px;

/* line-height: 58px; */
line-height: 120%;
color: #fff;
}

.aside-about-text{
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 400;
font-size: 20px;

/* line-height: 32px; */
line-height: 160%;
color: #fff;
}

.about-container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 24px;
}


.container-items-element{
    width: 249px;
height: 106px;
    margin-bottom: 40px;
    margin-right: 10px;
}

.items-element-title{
    font-family: "Martian Mono", sans-serif;
font-weight: 500;
font-size: 24px;

/* line-height: 34px; */
line-height: 140%;
color: #29e0a9;
}

.items-element-text{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 400;
font-size: 20px;

 line-height: 20px;
color: #fff;
}

.about-container-border{
width: 500px;
    height: 2px;
    background: #b585fb;
    opacity: 0.5;

    margin-top: 30px;
}

.aside-about-footer{
margin: auto;
    margin-top: 60px;

}

.about-footer-title1{
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 700;
font-size: 32px;
    margin-bottom: 32px;

/* line-height: 45px; */
line-height: 140%;
color: #fff;
}

.about-footer-list1 li a{
    color: #fff;
    text-decoration: none;

}


/*Information*/

.body-information{
background-color: #29292E;
    padding: 80px 80px 75px 80px;
    height: 100vh;
    overflow: scroll;
}

.page-information{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0;
}


.header-information{
    margin: auto;
    background: url(../img/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    padding: 50px;


}

.user-image{
    background: url(../img/WIN_20240919_20_34_31_Pro.jpg);
    background-size: cover;
    width: 300px;
    height: 150px;
    border-radius: 500px;
    outline: 2px solid #e3646e;
    outline-offset: 8px;
    margin: auto;
    position: relative;



}

.svg-for-image{
    position: absolute;
    top: 82%;
    right: 0;

}

.subtitle-image{
font-family: "Inconsolata", sans-serif;
font-weight: 400;
font-size: 20px;

/* line-height: 24px; */
line-height: 1.2;
text-align: center;
color: #c0c4ce;
}

.header-title-information{
    font-family: "Asap", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 67px; */
line-height: 1.2;
text-align: center;
color: #e2e4e9;
}

.header-text-information{
    max-width: 690px;
    margin: auto;
    font-family: "Maven Pro", sans-serif;
font-weight: 400;
font-size: 14px;

/* line-height: 20px; */
line-height: 1.4;
text-align: center;
color: #878ea1;
}

.header-container-information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 80px;
}

.container-element{
    color: #fff;
    background: #292c34;
    border-radius: 999px;
    width: 114px;
    height: 40px;
    padding: 0;
 }

.svg-container-image{
    margin-top: 6%;
    margin-left: 10%;
}

.word-container-image{
   display: inline-block;
}

.header-svg-pointer{
    display: block;
    margin: auto;
    margin-top: 94px;
    margin-bottom: 0;
}

.main-information{
    background-color: #121212;
    margin-top: 0;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    padding: 72px 120px 144px 120px;
    height: auto;
}

.main-header-information{
    margin-bottom: 55px;
}

.main-header-title{
    font-family: "Inconsolata", sans-serif;
font-weight: 400;
font-size: 20px;

/* line-height: 24px; */
line-height: 1.2;
text-align: center;
color: #e3646e;
}

.main-header-subtitle{
    font-family: "Asap", sans-serif;
font-weight: 700;
font-size: 24px;

/* line-height: 29px; */
line-height: 1.2;
text-align: center;
color: #e2e4e9;
}


.main-container-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;

}

.figure-element{

}

.img-figure{
    width: 500px;
    height: 280px;
    border-radius: 8px;
    background-color: #878ea1;
    transition: transform linear 0.5s;
}

.img-figure:active{
    transform: translateY(-10px);
}

.figcaption-text{
    max-width: 400px;
    font-family: "Maven Pro", sans-serif;
font-weight: 400;
font-size: 14px;

/* line-height: 20px; */
line-height: 1.4;
color: #c0c4ce;
}















